.message {
  display: flex;
  align-items: center;
  max-width: 60%;
  margin-bottom: 2.5rem;
}

.outgoing {
  margin-left: auto;
}

.avatar {
  order: 0;
}
.outgoing > .avatar {
  order: 1;
}

/* messages without a  */
:global .undefined {
  background-color: var(--colors-gray-30);
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}
:global .undefined::before {
  display: block;
  content: '📷';
}
